.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7C5E99;
    width: 20.75vmax;
    /* height: 280px; */
    box-shadow: 0.74vmax 0.74vmax 0 #fff;

}

.card-project.-blue {
    
    background-color: #4C5B84;
    
}

.card-project .card.-second {
    
    width: 280px;
    
}

.card-project img {
    width: 20.75vmax;
}