.main-title {
    font-family: 'Press Start 2P', sans-serif;
    /* font-size: 40px; */
    font-size: 3vmax;
    color: #F25A70;
    text-shadow: 4px 4px 0px #000;
    /* text-align: inherit; */
    
}

.main-title.-second {
    color: #FFF;
    text-shadow: none;
    text-align: center;
}

